@tailwind base;
@tailwind components;
@tailwind utilities;


.siteContainer {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1.8rem;
    align-items: center;
}

.slider video {
  max-width: 100%;
  height: auto;
}

.slider img {
  max-width: 100%;
  height: auto;
}

  

/* for header carousel on homepage */
@media (min-width: 1152px) {
  .lgBreak {
    top: 75%;
    transform: translateY(-50%);
  }
}

/* for header carousel on homepage */
@media (min-width: 768px) {
  .lgBreak {
    top: 75%;
    transform: translateY(-50%);
  }
}

/* for header carousel on homepage */
@media (min-width: 375px) {
  .lgBreak {
    top: 65%;
    transform: translateY(-50%);
  }
}
